<div class="navbar-fixed">
  <nav role="navigation">

    <div class="nav-wrapper blue">
      <a [routerLink]="['']" id="logo-container" class="brand-logo center">Improv Exercises</a>
      <ul class="right">
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog()">Login</a>
        </li>
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog('register')">Register</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a (click)="tokenAuthService.signOut()">Logout</a>
        </li>
      </ul>
    </div><!-- /nav-wrapper blue -->

  </nav>
</div><!-- /navbar-fixed -->

<app-auth-dialog #authDialog></app-auth-dialog>
