.text-align-center{
  text-align: center;
}

.last-added-exercise{
  position: relative;
  top: -25px;
  // margin-bottom: -87px;
  font-size: 1.5em;
  color:#26a69a;
}

#exercise_description,
#exercise_purpose{
  height:140px;
  padding: 5px 0px;
}

label{
  font-size:1.5em;
}

input#exercise_name,
textarea#exercise_description,
textarea#exercise_purpose {
  border: 2px solid #9e9e9e !important;
}

input:focus,
textarea:focus {
  border: 2px solid #26a69a !important;
}

button#add-exercise{
  font-size:1.5em;
}

.ng2-tag-input,
.ng2-tag-input--focused{
  border-bottom:0px !important;
}


tag-input input{
  font-size: 1.25em;
}

.margin-top-30{
  margin-top:30px;
}


@media screen and (max-width : 992px) {

  button#add-exercise{
    width:100%;
  }

}
