.text-align-center{
  text-align: center;
}

.last-added-exercise{
  position: relative;
  top: -100px;
  margin-bottom: -87px;
}


.ng2-tag-input {
    border-bottom: 0px !important;
}

#exercise_description{
  height:140px;
  padding: 5px 0px;
}

textarea:focus {
  border: 1px solid #26a69a !important;
}
