


<div id="exercise-detail">

  <div class="row" *ngIf="exercise">
    <div class="col s12">
      <div class="name">
        <h1>{{exercise.name}}</h1>
      </div>
      <div class="tags" *ngIf="exercise.tags.length > 0">
        Tags: <tag-input [ngModel]="exercise.tags" [maxItems]="5" [removable]="false" [hideForm]="true" name="tags" id="tags"></tag-input>
      </div>

      <div class="descriptions">
        <div class="title">Description</div>
        <div *ngIf="exercise.description" class="pre">{{exercise.description}}</div>
        <div *ngIf="!exercise.description">n/a</div>
      </div>

      <div class="descriptions">
        <div class="title">Purpose</div>
        <div *ngIf="exercise.purpose" class="pre">{{exercise.purpose}}</div>
        <div *ngIf="!exercise.purpose">n/a</div>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="tokenAuthService.userSignedIn()">
    <button class="btn btn-primary btn-block blue left" id="edit-exercise" >EDIT</button>
    <button class="btn btn-primary btn-block red right" id="delete-exercise" (click)="deleteExercise(exercise.id)">REMOVE</button>
  </div>


</div>
