#exercise-detail{
  font-size: 1.5em;
}

.attribute{
}

.name{
  text-align: center;
  font-weight: 700;
}

.tags{
  text-align: center;
  font-size:.75em;
}

.title{
  font-weight: 700;
  font-style: italic;
}

.descriptions{
  margin:50px 0px;

}


tag-input{
  display:inline-block;
  font-style: italic;
  border-bottom:0px !important;
}

@media screen and (max-width : 992px) {

  .attribute.name h1{
    font-size: 2em;
  }

  .attribute.tags{
    font-size: .7em;
  }

  button{
    width:100%;
    margin:10px 0px;
  }

}
